:root {
  font-family: 'Nunito', Helvetica;
  src: url('fonts/Nunito.tff') format('truetype');

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* color-scheme: light dark; */
  /* color: white; */
  /* background-color: #737373; */
  font-size: larger;
  font-weight: 500;
}